@charset "UTF-8";

// 独自の変数
// 変数で「!default」となっているものは先に同じ名前があると適用されないので
// bootstrapの変数も上書きできる
@import "./_variables.scss";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body{
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px !important;

  //モーダルスタイル打ち消し用
  &.modal-open{
    overflow: auto;
  }
}
