@charset "UTF-8";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


body{
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px !important;

  //モーダルスタイル打ち消し用
  &.modal-open{
    overflow: auto;
  }
}
